<% provide(:title, 'Question for Report') %>
<h2> All Questions</h2>
<div class='center'>
	<%=render 'shared/menu' %>
	<div class ="span8 offset4">	
		<ul class="nav nav-pills">
			<% Group.where('id>0').each do |g| %>	
			    <li><%= link_to g.name,catalog_path(g.id) %></li>
				<li class="divider-vertical"></li>			
		    <% end %>
		    <li class= 'active'><%= link_to "All", catalogs_path %></li>
		</ul>
		
				
			<ol class="catalogs">
				<% if @catalogs.nil? %>
					No question valid for this group.
				<% else %>
        			<%= render @catalogs %>
        		<%end%>
      		</ol>
      		<%= will_paginate %>
		</div>
	</div>
