<% provide(:title, 'Question for Report') %>
<h1> All Questions for Daily report</h1>
<ul class="questions">
	
	<% @catalogs.each do |catalog| %>
		<table class="table table-striped">
			<%= catalog.group_id %>
			<%= catalog.content %>
			<%= link_to "Edit", "#" %>
			<%= link_to "Delete",catalog, method: :delete, data: {confirm: "Are you really want to delete this user?"} %>
			
		</table>
	<% end %>
	<button type="button">
		<%= link_to "Create new question",new_catalog_path%>
	</button>

</ul>


