<% provide(:title, 'Create questions') %>
<h2>Create questions</h2>
<div class='center'>
<%= render 'shared/menu' %>
	<div class="span6 question" >

		<%= form_for(@catalog) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label 'Question for group' %>
			<%= f.text_field :group_id %>

			<%= f.label :content %>
			<%= f.text_area :content %>

			<%= f.submit "Create questions", class: "btn btn-medium btn-primary" %>
		<% end %>
	</div>
</div>
