<% provide(:title, 'Create questions') %>
<h1>Create questions for daily report</h1>

<div class="row">
	<div class="span offset5">

		<%= form_for(@catalog) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :group_id %>
			<%= f.text_field :group_id %>

			<%= f.label :content %>
			<%= f.text_area :content %>

			<%= f.submit "Create questions", class: "btn btn-medium btn-primary" %>
		<% end %>
	</div>
</div>
