<% provide(:title, 'Create questions') %>
<h2>Create questions</h2>
<div class='center'>
<%= render 'shared/menu' %>
	<div class="span6 question" >

		<%= form_for(@catalog) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label 'Question for group' %>
			
      		<%=f.select :group_id,Group.all.collect {|g| [ g.name, g.id ] }%>

           
			<%= f.label :content %>
			<%= f.text_area :content %>

			<%= f.label :required %>
			<%= f.select :required,([['Yes', 't'], ['No', 'f']]) %>
			

			<%= f.submit "Create questions", class: "btn btn-medium btn-primary" %>
		<% end %>
	</div>
</div>
