<% provide(:title, 'Question for Report') %>
<h2> All Questions</h2>
<div class='center'>
	<%=render 'shared/menu' %>
	<div class="span8 offset4">
		<ul class="nav nav-pills">
			<% Group.where('id>0').each do |g| %>	
			    <li class="<%='active' if current_page?(catalog_path(g.id)) %>">
			    	<%= link_to g.name,catalog_path(g.id)  %></li>
				<li class="divider-vertical"></li>			
		    <% end %>
		    <li><%= link_to "All", catalogs_path %></li>
		</ul>			
			<ol class="catalogs">
				<% if @catalogs.nil? %>
				<span>No question valid for this group. </span>
			<% else %>	
        		<%= render @catalogs %>
        		<%end%>
      		</ol>
		</div>
	</div>
