<% provide(:title, 'Question for Report') %>
<h2> All Questions</h2>
<div class='center'>
	<%=render 'shared/menu' %>
		<ul class="nav nav-pills">
			<% Group.all.each do |g| %>	
			    <li><%= link_to g.name,catalog_path(g.id)  %></li>
				<li class="divider-vertical"></li>			
		    <% end %>
		    <li><%= link_to "All", catalogs_path %></li>
		</ul>
		<div class="span8 question">	
			
			<ol class="catalogs">
				<% if @catalogs.nil? %>
				<span>No question valid for this group. </span>
			<% else %>	
        		<%= render @catalogs %>
        		<%end%>
      		</ol>
      		
				<%= button_to "Create new question",new_catalog_path,
				:method => :get, class: 'btn btn-medium btn-primary'%>
		</div>
	</div>
