<% provide(:title, "Edit group") %>
<h2> Edit the group </h2>
<div class ='center'>
<%= render 'shared/menu' %>
	<div class="span5 offset1">
		<%= form_for(@group) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :group_name %>
			<%= f.text_field :name %>

			<%= f.submit "Save changes", class: "btn btn-medium btn-primary" %>
		<% end %>
	</div>
</div>
