<%= provide(:title, "Edit User")%>
<h2>Update user profile of <%= @user.name%></h2>
<div class="center">
  <%=render 'shared/menu'%>
  <div class="span4 offset1">     
     <%if(current_user.admin? && !current_user?(@user))%>
     <%=render 'shared/edit_users_by_admin'%>
     <%else%>
     <%=render 'shared/edit_profiles'%>
     <%end%>
  </div>
</div>
