
<table>
  <tr>
      <td>Date</td>
      <td><%=@time%></td>
  </tr>
  <tr>
      <td>Name</td>
      <td><%=@users.name%></td>
  </tr>
  <tr>         
      <td>Email</td> 
      <td><%=@users.email%></td>
  </tr>

</table>


<table>
  <tr>
    <td>Catalog</td> 
    <% @answers.each do |answer|%>
      <%if(answer.updated_at.strftime("%d/%m/%y")==@time)%>
      
      <td><%= Catalog.find_by(id: answer.catalog_id).content %></td> 
      <%else%>
          
      <%end%>    
      <%end%>
  </tr>
  <tr>
   <td> Answer</td>
    <% @answers.each do |answer|%>
    <%if(answer.updated_at.strftime("%d/%m/%y")==@time)%>
      <td><%= answer.content%></td>  
      <%else%>  

      <%end%>               
    <% end %>
  </tr>
</table>





