<% provide(:title, 'All users') %>
<h1> All Users </h1>
<%= will_paginate %>
<p>
<ul class="users">
	
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %>
			| 
			<% if current_user.admin? %>
				<% if user.group_id != nil %>
					Active
				<% else %>
					<%= link_to "Deactive", "#" %>
					<%= link_to "Assign Group", "#" %>
				<% end %>
				<%= link_to "Edit", user %>
				<%= link_to "Delete", user, method: :delete, data: {confirm: "Are you really want to delete this user?"} %>
			<% end %>
			
		</li>
	<% end %>
</ul>
</p>
<%= will_paginate %>


