<% provide(:title, 'Report of Users') %>
<h2> Report of
	<%= User.find_by(id: params[:id]).name %>
</h2>
<div class ='center'>
<%= render 'shared/menu' %>
<div class="span8">
	<div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">
    <input class="span2" size="16" type="text" value="12-02-2013" readonly><span class="add-on"><i class="icon-th"></i></span>
</div>
<script>
$('#dp3').datepicker();
</script>
</div>

<table class='table table-striped' >
	<thead>
	<tr>
		<th>The Date</th>
		<th>Question</th>
		<th>Answer</th>
	</tr>
	</thead>
	<tbody>
		<% @answers.each do |answer|%>
			<tr>
				<td><%= answer.updated_at %></td>
				<td><%= Catalog.find_by(id: answer.catalog_id).content %></td>
				<td><%= answer.content %></td>
				
			</tr>								
		<% end %>
	</tbody>
</table>
</div>
<!--end div user-->
</div> <!--End div center-->