<% provide(:title, 'Report of Users') %>
<h2> Report of
	<%= User.find_by(id: params[:id]).name %>
</h2>
<div class ='center'>
<%= render 'shared/menu' %>
<div class="span2">	
From <%= form_tag(manager_path, :id => "form1") do %>
		<input type="text" name ="time1" value="<%=@time1 %>"data-date-format="dd/mm/yy" id="dp1">
<div>To</div>
		<input type="text" name ="time2" value="<%=@time2 %>"data-date-format="dd/mm/yy" id="dp2">
    <% end %>
<span><%= link_to 'Export XLS', export_path(:format => 'xls',:time1 => @time1, :time2 => @time2, :user_id => params[:id]) %></span>
</div>
  <script>
    $('#dp1').datepicker();
    $('#dp2').datepicker();
    $('#dp2').change(function(){
    	var form1 = $('#form1');
    	form1.submit();
    });
    
  </script>
 
<table class='table table-striped' >
	<thead>
	<tr>
		<th style="width:100px">Date</th>
		<th>Question </th>
		<th>Answer </th>
	</tr>
	</thead>
	<tbody>
		<% @answers.each do |answer|%>
			<%if(answer.updated_at.strftime("%d/%m/%y")==@time1 && @time1==@time2)%>
			<tr>
				<td style="width:100px"><%= answer.updated_at.strftime("%d/%m/%y") %></td>
				<td><pre><%= Catalog.find_by(id: answer.catalog_id).content %></pre></td>
				<td><pre><%= answer.content %></pre></td>	
			</tr>
			<% end %>
			<%if (@time1 && @time2 &&( @time2 > @time1 )&& (answer.updated_at.strftime("%d/%m/%y") > @time1) && (answer.updated_at.strftime("%d/%m/%y") < @time2)) %>
			<tr>
				<td style="width:100px"><%= answer.updated_at.strftime("%d/%m/%y") %></td>
				<td><pre><%= Catalog.find_by(id: answer.catalog_id).content %></pre></td>
				<td><pre><%= answer.content %></pre></td>
			</tr>
			<% end %>
		<%end%>								
	</tbody>
	</tbody>
</table>
</div>
<!--end div user-->
</div> <!--End div center-->