
<%= form_for([catalog,catalog.answers.build],remote:true ) do |answer| %>
	<li class ='divider' style="margin-bottom:7px;"></li>
	<%=answer.hidden_field :user_id ,:value => current_user.id %>
	<%= hidden_field_tag('authenticity_token', form_authenticity_token.to_s)%>
	<% if answer?(catalog) %>
		<% if catalog.required? %>
			<%= answer.text_area :content ,:value => answer(catalog).content ,id: catalog.id , class: 'required' %>
		<% else %>
			<%= answer.text_area :content ,:value => answer(catalog).content ,id: catalog.id  %>
		<% end %>		
	<% else %>
		<% if catalog.required? %>
			<%= answer.text_area :content , id: catalog.id ,class: "required" %>
		<%else%>
			<%= answer.text_area :content , id: catalog.id %>
		<% end %>
	<% end %>
<%end %>