<% provide(:title,'Write daily report') %>
<h2>Write Daily Report for &nbsp <strong><%= Time.now.strftime("%m/%d/%Y")%></strong></h2>
<div class='center'>
	<%= render'shared/menu' %>
	<div class='span7 answer'>

		<%= form_for(@answer) do |answer| %>
			<% group = Group.find(current_user.group_id)
				@catalogs = Catalog.all(:conditions => {group_id: group}) %>
				<% @catalogs.each do |catalog| %>
					<%= catalog.content %>
					<li class= 'divider' style='margin-bottom:8px;'></li>
					<%= answer.text_area :content %>
			<% end%>	
			<%= answer.submit 'Submit', class:"btn btn-medium btn-primary" %>
		<% end %> 
		
	</div>
</div>